In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from subprocess import check_output

%matplotlib inline 

print (check_output(["ls", "./input/"]).decode("utf-8"))

Arabic-Original.csv
Arabic-Original.csv.zip
Bangla.csv.zip
English.csv
en.yusufali.csv

In [39]:
import re 
import nltk
nltk.download('wordnet')
from nltk.corpus import wordnet
from csv import QUOTE_NONE

[nltk_data] Downloading package wordnet to /home/mkazim/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [40]:
def read_and_reformat(csvpath):
    df = pd.read_csv(csvpath,
                     sep='|',
                     encoding='iso-8859-1',
                     dtype=object,
                     header=None,
                     quoting=QUOTE_NONE,
                     names=['Surah', 'Ayah', 'Text'])    
    df['Text'] = df['Text'].str.replace('#NAME\?', '')
    df['Text'] = df['Text'].str.strip(',')
    return df

In [41]:
df = read_and_reformat('./input/English.csv')
df.head(10)

  Surah Ayah                                               Text
0     1    1  In the name of Allah, Most Gracious, Most Merc...
1     1    2  Praise be to Allah, the Cherisher and Sustaine...
2     1    3                      Most Gracious, Most Merciful;
3     1    4                     Master of the Day of Judgment.
4     1    5         Thee do we worship, and Thine aid we seek.
5     1    6                           Show us the straight way
6     1    7  The way of those on whom Thou hast bestowed Th...
7     2    1                                             A.L.M.
8     2    2  This is the Book; in it is guidance sure, with...
9     2    3  Who believe in the Unseen, are steadfast in pr...

In [42]:
searchKeywords  = ['Human', 'Women', 'Humility','Heaven' , 'Hell']
for keyword in searchKeywords:     
    synonyms = []
    countTotal = 0
    for syn in wordnet.synsets(keyword):
        for l in syn.lemmas():
            countTotal += df['Text'].str.count(l.name() , re.IGNORECASE).sum() 
            synonyms.append(l.name())
    print(keyword + " = " + str(countTotal)   )
    print(synonyms)

Human = 683.0
['homo', 'man', 'human_being', 'human', 'human', 'human', 'human']
Women = 197.0
['woman', 'adult_female', 'woman', 'charwoman', 'char', 'cleaning_woman', 'cleaning_lady', 'woman', 'womanhood', 'woman', 'fair_sex']
Humility = 38.0
['humility', 'humbleness', 'humility', 'humbleness']
Heaven = 491.0
['Eden', 'paradise', 'nirvana', 'heaven', 'promised_land', 'Shangri-la', 'Heaven']
Hell = 960.0
['hell', 'hell_on_earth', 'hellhole', 'snake_pit', 'the_pits', 'inferno', 'hell', 'blaze', 'Hell', 'perdition', 'Inferno', 'infernal_region', 'nether_region', 'pit', 'Hell', 'Hades', 'infernal_region', 'netherworld', 'Scheol', 'underworld', 'sin', 'hell', 'hell', 'blaze']

In [43]:
searchKeywords  = ['Human', 'Women', 'Humility','Heaven' , 'Hell']
for key in search_keywords:
    df[key] = df['Text'].str.count(key, re.IGNORECASE)
    print(key + " = " + str(df[key].sum()))

Human = 11.0
Women = 100.0
Humility = 19.0
Heaven = 243.0
Hell = 91.0